.footer{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  margin-top: 3rem;
  justify-content: space-between;
  bottom: 0;
  text-align: left;
}
.SaltyRogue{
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}
.captainFinn{
  display: flex;
  flex-direction: row;
}
.firm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title{
  align-self: center;
}
.contactContainer{
  margin-left: 2rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1126px){
  .footer{
    height: 200px;
    flex-direction: column;
  }
  .titleFinn{
    margin-right: 2.5rem;
    align-self: center;
  }
  .captainFinn{
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 620px){
  .captainFinn, .SaltyRogue{
    flex-direction: column;
  }
}