.footer{
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}
nav{
}
.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100px;
  bottom: 0;
  color: white;
  text-align: left;
}